/* Set everything to use border-box model */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.main-wrapper {
  font-family:'Arial', sans-serif;
  margin:auto;
  width: 90%;
}

.form-wrapper {
  border: 1px solid #bbb;
  margin: 2em auto;
  padding: 2em;
  width: 100%;
}

.form-wrapper label, .form-wrapper input, .form-wrapper select  {
  font-size: 1.2em;
}

.form-wrapper input {
  margin: 0.5em auto 1em;
  padding: 0.5em;
  width: 20%;
}

.form-wrapper button {
  margin: 0.5em auto 1em;
  padding: 0.5em;
  width: 10%;
  font-size: 1.5em;
  color: blue;
  cursor: pointer;
}

/* Remove outline & add border */
input, textarea {
  outline: none;
  border: 1px solid #ddd;
}

textarea {
  resize: horizontal;
  min-width: 10%;
  max-width: 100%;
}

.comment-box {
  border: 1px solid #bbb;
  border-radius: 5px;
  margin-bottom: 0.8em;
  padding: 2em;
  max-width: 35%;
  position: relative;
}

.comment-box p {
  font-family: 'Arial', sans-serif;
  font-size: 1em;
  line-height: 1em;
  color:#282828;
  text-decoration-color: red;
}


.edit-form {
  position: absolute;
  top: 2px;
  right: 2px;
  color: blue;
  cursor: pointer;
}

.edit-form button {
  width: 3em;
  font-size: 1em;
  color: blue;
  background-color: #fff;
  cursor: pointer;
  border: none;
  opacity: 0.5;
}

.edit-form button:hover {
    opacity: 1;
}




